# Composer
/vendor/

# Variables de entorno
.env
.env.*

# Logs del sistema
/almacenamiento/logs/
*.log
almacenamiento/diagnostico_escritura.txt

# Cache / temporales
/tmp/
.cache/
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos pesados
*.exe
*.zip
*.tar
*.tar.gz

build_instalador_ventas_reparaciones/
respaldos/
reparaciones_python/python_runtime/
