# Composer
/vendor/

# Variables de entorno
.env
.env.*

# Logs del sistema
/almacenamiento/logs/
*.log

# Cache / temporales
/tmp/
.cache/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos pesados
*.exe
*.zip

build_instalador_ventas_reparaciones/
respaldos/
reparaciones_python/python_runtime/